# MapNodes
run/
**/src/generated
.tasks.py
node_modules/
out/
package-lock.json
npm-error.log

# Java
*.log

# Gradle
.gradle/
*build/

# IDES
*~
*.swp
*.swap
*.tmp
.idea/
*.iml
.project
.vscode/

# Mac
._*
.DS_Store

# Temp untill we can get our custom version working
core/src/main/resources/libj2v8_linux_x86_64.so
