# MapNodes
run/
**/src/generated
.tasks.py
node_modules/

# Gradle
.gradle/
*build/

# IDES
*~
*.swp
*.swap
*.tmp
.idea/
*.iml
*.gitignore
!.gitignore
*out/

# Mac
._*
.DS_Store

# Temp untill we can get our custom version working
core/src/main/resources/libj2v8_linux_x86_64.so
